<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Details</title>
</head>
<body>
    <a href="../">Go back</a>
    <h1>TV Show</h1>
    <p>Title: {{ show.title }}</p>
    <p>Network: {{ show.network }}</p>
    <p>Release Date: {{ show.release_date }}</p>
    <p>Description: {{ show.description }}</p>
    <p>Last Updated: {{ show.updated_at }}</p>
    <a href="edit/">Edit</a> | <a href="deleteShow/">Delete</a>
</body>
</html>